/*box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Square721 Cn BT, sans-serif;
  background: #191a1f;
  font-size: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding:0;
}

a{
  text-decoration:none;
  color: inherit;
  cursor:pointer;
}

/*grid begins*/
.wrapper{
  color:#ffffff;
 /* padding: 20px 40px;*/
  display:grid;
  grid-template-columns: repeat (12, [col-start] 1fr);
  }

nav ul{
  display: grid;
  grid-gap: 50px;
  margin: 10px 40px 0 40px;
  font-size: 20px;
  grid-template-columns: 1fr repeat(6, fit-content(50px));
  grid-auto-flow: column;
  justify-content: center;
  justify-items: end;
  align-items: center;
}


.fullwidth{
  grid-column: 1 / 2;
  justify-self: start;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 0.3;
}

.content{
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-gap: 200px;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items:center;
  align-items: center;
}

aside img{
  background-size: cover;
  border:40px solid #121318;

}

article{
  align-self: center;

}

article p{
  width: 15em;
  font-size: 2em;
  margin: 0 0 20px 0;
}

article h1{
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 20px;
}

article a{
  background-color: #4d6bc3;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 1.2em;
}

/*
*****************************
* =contact area 
*****************************
*/

.contact-area{
  display: grid;
  grid-gap: 30px;
  justify-content: center;
  background: #dddddd;
  color: #191a1f;
  margin: 60px 0 0 0;
  padding: 60px;
 
}

.contact-area h3{
  margin: 0;
  font-size: 3em;
  justify-self: center;
}

.contact-area ul{
    display: grid;
    grid-gap: 150px;
    justify-items: center;
     grid-template-columns: repeat(3, 1fr);
}

.contact-area li{
  display: grid;
  justify-items: center;
  font-size: 1.2em;
}

.contact-area li i{
  font-size: 2em;
   color:#4d6bc3;
}

.contact-area li p{
    text-align: center;
}

footer{
  justify-self:center;
  font-size: 1.2em;
}

footer p{
  padding: 20px 0;
  margin: 0;

}
